#!/usr/bin/make -f

build:	
	dh_update_autotools_config
	dh_autoreconf
	./configure
	make $(DEBUILD_MAKE_ARGS)

binary:	
	dh_testroot
	dh_prep
	dh_auto_install
	dh_installchangelogs ChangeLog
	mkdir -p debian/ubuntu-rivendell-installer/usr/share/doc/ubuntu-rivendell-installer
	mkdir -p debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer
	cp assets/50-default.conf.patch debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/asound.conf debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/auto.misc.template debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/auto.rd.audiostore.template debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/auto.misc.client_template debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/docbook5.sh debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp scripts/installer_install_rivendell.sh debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/mysqld.cnf-patch debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/paravel_support.pdf debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/rdairplay_skin.png debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/rdpanel_skin.png debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/samba_shares.conf debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	cp assets/xfce-config.tgz debian/ubuntu-rivendell-installer/usr/share/ubuntu-rivendell-installer/
	dh_strip_nondeterminism
	dh_compress
	dh_fixperms
	dh_missing
	dh_dwz
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:	
	dh $@
